/*general rules*/
body {
    background-color: whitesmoke;
    margin: 0;
    /* min-width: 650px; */
}

#app-container {
    margin-top: -20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: lightblue;
    color: darkslategray;
    /* min-width: 650px; */
}

/*****************/


/*header*/
h1 {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 30px;
}

.current-page {
    display: inline-block;
    width: 49%;
    text-align: center;
    background-color: azure;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 3px;
    /* 5px rounded corners */
}

.sec-page a {
    text-decoration: none;
    color: darkslategray;
}



.sec-page {
    display: inline-block;
    width: 49%;
    text-align: center;
    height: 30px;
}

.sec-page:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}




/* #planned-list {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#today-list {
    display: inline-block;
    width: 50%;
    text-align: center;
} */


/*description box*/
#des-cnt {
    height: 10vh;
    text-align: center;
}

#des-cnt input {
    height: 9vh;
    width: 58vw;
    border: none;
}


/*category and date*/
#catdate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
}

#cat-cnt span,
#category {
    display: block;

}

#due-date-cnt span,
#date {
    display: block;
}

#category {
    width: 100%;
    border: none;
    height: 25px;
    margin-top: 10px;
}

#date {
    width: 25vh;
    border: none;
    height: 25px;
    margin-top: 10px;
}

/********************/


/*Add task button*/
#addtaskbutton {
    text-align: center;
    height: 10vh;
    margin: 5% 30% 0% 30%;
}

#addtaskbutton button {
    border: none;
    padding: 3px;
    width: 100px;
    height: 30px;
    background-color: rgb(167, 188, 136);
    cursor: pointer;
}

#addtaskbutton button:hover {
    background-color: green;
    font-size: large;
}

/*******************/


/*displaying the tasks*/
#task-display {
    margin-top: -12px;
    margin-bottom: 2px;
    margin-left: -25px;
}

/* On mouse-over, change background color*/
.card:hover {
    background-color: rgb(213, 235, 243);
}

/*arranging the elemnts of the task display */
#block1 {
    display: inline-block;
    width: 40%;
}

#block2 {
    display: inline-block;
}

/*styles for the work category button*/
#block2 button {
    border: none;
    padding: 3px;
    width: 60px;
    height: 30px;
    margin: 15px;
}

#block2 #delete {
    margin-left: 200px;
    background-color: rgb(218, 91, 91);
    cursor: pointer;
}

#block2 #delete:hover {
    background-color: rgb(174, 20, 20);
    font-size: large;
}

/*******************/